.about {
    background: url(/img/about.png) no-repeat center center;
    background-size: auto;
    margin-top: 96px;

    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      
      .about {
          background: url(/img/about@2x.png) no-repeat center center;
      }
    
    }
}

.about__container {
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
  margin-bottom: 120px;

  &::before {
    content: '';
    width: 203px;
    height: 63px;
    background: url(/img/about_before.png) no-repeat center center;
    right: -150px;
    top: 68px;
    position: absolute;
  }
}

.about__title {
  font-size: 56px;
  line-height: 56px;
  font-family: 'Space Mono';
  letter-spacing: -2.5px;
  color: white;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:1140px) {
  .about__container {
    max-width: 719px;
    display: block;
    align-items: center;
    margin-bottom: 144px;
  }
  
  .about {
    background: url(/img/about_tablet.png) no-repeat center center;
    background-size: cover;
    margin-top: 96px;

    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      
      .about {
          background: url(/img/about_tablet@2x.png) no-repeat center center;
      }
    
    }
}

  .about__title {
    margin-left: 58px;
  }

  .about__container::before {
    right: -25px;
  }
}

@media screen and (max-width:689px) {
  .about {
    background: url(/img/about_mobile.png) no-repeat center center;
    background-size: cover;
    margin-top: 64px;

    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      
      .about {
          background: url(/img/about_mobile@2x.png) no-repeat center center;
      }
    
    }
}
  
  .about__container {
    max-width: 375px;
    display: block;
    text-align: center;
    margin-bottom: 72px;
    padding-top: 60px;
    padding-bottom: 60px;

    &::before {
      display: none;
    }
  }

  

  .about__title {
    text-align: center;
    margin-left: 0;
  }
}