.benefits__container {
    margin: 0 auto;
    margin-bottom: 329px;
}

.benefits__list {
    @include reset-list;
}

.benefits__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
    position: relative;

    &:nth-child(2n) {
        flex-direction: row-reverse;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::after {
        content: '';
        width: 445px;
        height: 445px;
        border-radius: 50%;
        background-color: #E5ECF4;
        position: absolute;
        right: -509px;
        top: 0;
    }

    &:nth-child(2n)::after {
        left: -509px;
    }

}

.benefits__box {
    width: 445px;
}

.benefits__title {
    padding: 0;
    margin: 0;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    font-family: 'Space Mono';
    letter-spacing: -2.14px;
    margin-bottom: 24px;
}

.benefits__text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    margin-bottom: 40px;
}

.benefits__link {
    display: inline-block;
    margin-left: auto;
    font-family: 'Space Mono';
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 14px 39px;
    background-color: #FCB72B;
    border: none;

    &:hover {
        color: #FCB72B;
        background-color: transparent;
        border: 3px solid #FCB72B;
        padding: 11px 36px;
    }
}

.benefits__img {
    border-radius: 50%;
}

.telemetry::before {
    content: '';
    width: 741px;
    height: 151px;
    background: url(/img/line_3.png) no-repeat center center;
    position: absolute;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    top: 300px;
    right: -165px;
    z-index: 2;
}

.payment::before {
    content: '';
    width: 741px;   
    height: 151px;
    background: url(/img/line_3.png) no-repeat center center;
    position: absolute;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    top: 80px;
    right: -540px;
    z-index: 2;
}

.city::before {
    content: '';
    width: 741px;   
    height: 151px;
    background: url(/img/line_3.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: -550px;
    z-index: 2;
}

.mobility::before {
    content: '';
    width: 741px;
    height: 151px;
    background: url(/img/line_4.png) no-repeat center center;
    position: absolute;
    top: 260px;
    right: -165px;
    z-index: 2;
}

.urban::before {
    content: '';
    width: 741px;   
    height: 151px;
    background: url(/img/line_3.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: -550px;
    z-index: 2;
}


@media screen and (max-width:1140px) {
    .benefits__container {
        max-width: 689px;
        overflow-x: hidden;
        margin-bottom: 120px;
    }

    .benefits__item {
        flex-direction: column-reverse;
        position: relative;
        margin-bottom: 120px;
    
        &::after {
            content: '';
            width: 445px;
            height: 445px;
            border-radius: 50%;
            background-color: #E5ECF4;
            position: absolute;
            right: -409px;
            top: 0;
        }
    
        &:nth-child(2n)::after {
            left: -409px;
        }

        &:nth-child(2n) {
            flex-direction: column-reverse;
        }
    
    }

    .benefits__box {
        text-align: center;
        margin-top: 56px;
        max-width: 573px;
    }

    .benefits__title {
        margin-bottom: 40px;
    }

    
.telemetry::before {
    top: 300px;
    right: -50px;
    z-index: 2;
}

.payment::before {
    top: 80px;
    right: -440px;
    z-index: 2;
}

.city::before {
    top: 0;
    left: -450px;
    z-index: 2;
}

.mobility::before {
    top: 260px;
    right: -55px;
}

.urban::before {
    top: 0;
    left: -445px;
}
}

@media screen and (max-width:689px) {
    .benefits__container {
        max-width: 375px;
        overflow-x: hidden;
    }

    .benefits__title {
        padding: 0;
        margin: 0 auto;
        max-width: 311px;
        font-size: 32px;
        line-height: 32px;
        color: #495567;
        font-family: 'Space Mono';
        letter-spacing: -1.43px;
        margin-bottom: 32px;
    }

    .benefits__item::after {
        display: none;
    }

    .benefits__text {
        padding: 0;
        margin: 0 auto;
        max-width: 311px;
        margin-bottom: 32px;
    }

    .telemetry::before {
        top: 200px;
        right: -400px;
        z-index: 2;
    }
    
    .payment::before {
        top: 20px;
        right: -510px;
        z-index: 2;
    }
    
    .city::before {
        top: 0;
        left: -450px;
        z-index: 2;
    }
}
