.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 4;
}

.nav__list {
    @include reset-list;
    display: flex;
    align-items: baseline;
}

.header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 21px;
}

.header__nav {
    padding-left: 58px;
}

.nav__item {
    margin-right: 32px;
    font-family: 'Space Mono';
    font-size: 15px;
    line-height: 25px;
}

.nav__link {
    color: #939CAA;

    &:hover {
        color: #FCB72B;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.button {
    display: inline-block;
    margin-left: auto;
    font-family: 'Space Mono';
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 14px 39px;
    background-color: #FCB72B;
    border: none;

    &:hover {
        color: #FCB72B;
        background-color: transparent;
        border: 3px solid #FCB72B;
        padding: 11px 36px;
    }
}

@media screen and (max-width:689px) {
    .header__container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-right: 51px;
    }

    .button {
        margin-left: 32px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 50px;
        z-index: 3;
    }

    .wrapper {
        display: none;
        flex-direction: column;
        background:rgba(0, 0, 0, 0.74);
        height: calc(100vh - 64px);
        position: absolute;
        width: 100%;
        // height: 100%;
        padding: 0;
        left: 0;
        top: 64px;
        z-index: 2;

        &::before {
            content: '';
            width: 256px;
            height: 100vh;
            // height: 603px;
            background-color: #333A44;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    .header__nav {
        width: 100%;
        padding: 0;
    }

    .wrapper--active {
        display: flex;
    }

    .nav__list {
        display: block;
        margin: 0 auto;
        text-align: left;
        flex-direction: column;
        margin-top: 64px;
        margin-left: 32px;
        margin-bottom: 300px;
        position: relative;
    }

    .nav__link {
        text-transform: none;
        font-size: 18px;
        line-height: 25px;
        font-family: 'Space Mono';
        color: #E5ECF4;
    }

    .nav__item {
        margin-bottom: 24px;
    }

    .nav__item:last-child {
        margin-bottom: 0;
    }

    .header__logo {
        margin: 0 auto;
    }
    .header__logo-img {
        display: block;
        max-width: 75.5px;
        height: 20px;
    }

    
}